@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Raleway", sans-serif;
}
.nav-links:before,
.nav-links:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #0173AF;
    transition: 0.5s;
}
.nav-links:after {
    left: 0;
    bottom: -10px;
}
.nav-links:before {
    right: 0;
    top: -10px;
}
.nav-links:hover:after,
.nav-links:hover:before {
    width: 100%;
}